.container-auth {
    min-height: 100vh;
    background-image: url('../../../../assets/images/background-emergia2.png') !important;
    background-size: cover;
}

.bg-surface-0 {
    background-color:
        color-mix(in srgb, #fdfdfded calc(100% * var(--tw-bg-opacity, 1)), transparent);
}